<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      Latitude: {{latitude}}<br>
      Longitude: {{longitude}}
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="nearbyLocations">
    <ion-item *ngFor="let item of nearbyLocations" (click)="showDetails(item)">
      {{item.name}}
      <ion-note item-end>{{item.dist}} m</ion-note>
    </ion-item>
  </ion-list>
  <div *ngIf="!nearbyLocations">
    No locations found or API key doesn't exists
  </div>
</ion-content>
